.qualification {
  &__container {
    max-width: 768px;
  }

  &__tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--mb-2);
  }

  &__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
  }

  &__button:hover {
    color: var(--title-color-dark);
  }

  &__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
  }

  &__sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    column-gap: 3rem;
    &::before {
      position: absolute;
      content: "";
      // width: 1px;
      height: 37%;
      background: rgba(0, 0, 0, 0.347);
      margin-bottom: 2rem;
      border : 0.1px dashed #ccc
    }
  }

  &__content {
    display: none;
  }

  &__content-active {
    display: block;
  }

  &__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }

  &__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }

  &__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }

  &__calendar {
    font-size: var(--small-font-size);
  }

  &__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
  }

  &__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .qualification__container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .qualification__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 576px) {
  .qualification {
    &__sections {
      grid-template-columns: initial;
    }

    &__button {
      margin: 0 var(--mb-0-75);
    }
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}
